.problem-card{
background:rgba(255,255,255,.06);
border:1px solid rgba(255,255,255,.08);
backdrop-filter:blur(12px);
border-radius:20px;
padding:25px;
color:white;
margin-bottom:25px;
}

.difficulty{
display:inline-block;
padding:6px 14px;
background:#22c55e;
border-radius:20px;
font-size:14px;
margin-bottom:15px;
}

.problem-card h2{
margin-bottom:15px;
}

.problem-card p{
color:#cbd5e1;
line-height:1.7;
}

.example{
margin-top:25px;
padding:18px;
background:rgba(255,255,255,.04);
border-radius:12px;
}