.submission-history{
    background:#2b2d31;
    color:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.25);
}

.submission-history h2{
    color:white;
    margin-bottom:20px;
}

.submission-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px;
    margin-bottom:15px;

    background:#1e1e1e;
    border:1px solid #444;
    border-radius:10px;

    transition:.3s;
}

.submission-card:hover{
    border-color:#6d5dfc;
    transform:translateY(-2px);
}

.submission-card h3{
    color:#22c55e;
    margin:0;
}

.submission-card p{
    color:#d1d5db;
    margin-top:5px;
}

.submission-card span{
    color:#9ca3af;
}